

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table" id="div1">
        <tr>
        </tr>
    
    
        <tr v-for="(item,index) in dt">
            <td>
              {{item.u_id}}
            </td>
         <td>
             {{item.u_name}}
         </td>
        </tr>
    
    </table>
</body>
</html>
<script type="text/javascript">
    $(function () {
        var vm = new Vue({
            el: "#div1",
            data: {
                dt:null
            },
            methods: {
                load: function () {
                    var t = this;//代表的是vm
                    $.ajax({
                        url: "/Home/Index2",
                        type: "post",
                        success: function (msg) {
                            t.dt = eval("(" + msg + ")");

                        }
                    })
                }
            }
            ,
            created: function () {
                this.load();
            }
        });
    })
</script>

