@model HRModel.M_human_file
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>query_locate</title>
    <link rel="stylesheet"
          href="../../Content/table.css" type="text/css" />
    <link rel="stylesheet"
          href="../../Content/cwcalendar.css" type="text/css">
    <script type="text/javascript"
            src="../../javascript/comm/comm.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/comm/list.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/calendar-ch.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/jquery-1.7.2.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/locate.js">
    </script>

</head>
<body>
    <form id="form1" method="post">
        <table width="100%">
            <tr>
                <td>
                    <font color="black">您正在做的业务是：人力资源--人力资源档案管理--人力资源档案删除 </font>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <input type="submit" value="查询" class="BUTTON_STYLE1" />
                    <input type="button" value="搜索" class="BUTTON_STYLE1"
                           onclick="location.href='query_keywords.html'">
                    <input type="hidden" name="result" value="toQueryList" />
                </td>
            </tr>
        </table>
        <table width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr class="TR_STYLE1">
                <td width="16%" class="TD_STYLE1">
                    请选择员工所在I级机构
                </td>

                <td width="84%" class="TD_STYLE2">
                    <input type="hidden" name="currentPage" value="1" />
                    @Html.DropDownListFor(model => model.first_kind_id, ViewBag.one as IEnumerable<SelectListItem>, new { htmlAttributes = new { @class = "SELECT_STYLE2", @size = "5" } })
                    @Html.ValidationMessageFor(model => model.first_kind_id, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    请选择员工所在II级机构
                </td>
                <td width="84%" class="TD_STYLE2">
                    <select name="second_kind_id" id="secondKindId" class="SELECT_STYLE1">
                        <option value="0">全部</option>

                    </select>
                </td>
            </tr>
            <tr class="TR_STYLE1">
                <td width="16%" class="TD_STYLE1">
                    请选择员工所在III级机构
                </td>
                <td width="84%" class="TD_STYLE2">
                    <select name="third_kind_id" id="thirdKindId" class="SELECT_STYLE1">
                        <option value="0">全部</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    请选择职位分类
                </td>
                <td width="84%" class="TD_STYLE2">
                    @Html.DropDownListFor(model => model.human_major_kind_id, ViewBag.major as IEnumerable<SelectListItem>, new { htmlAttributes = new { @class = "SELECT_STYLE2", @size = "5" } })
                    @Html.ValidationMessageFor(model => model.first_kind_id, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr class="TR_STYLE1">
                <td width="16%" class="TD_STYLE1">
                    请选择职位名称
                </td>
                <td width="84%" class="TD_STYLE2">
                    <select name="human_major_id" id="majorId" class="SELECT_STYLE1">
                        <option value="0">全部</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    请输入建档时间
                </td>
                <td width="84%" class="TD_STYLE2">
                    <input type="text" name="utilBean.startDate" readonly
                           style="width: 14%" class="INPUT_STYLE2" id="date_start">
                    至
                    <input type="text" name="utilBean.endDate" readonly="readonly"
                           style="width: 14%" class="INPUT_STYLE2" id="date_end">
                    <input type="hidden" name="utilBean.datePropertyName" value="registTime" />
                </td>
            </tr>
        </table>
    </form>
    <script type="text/javascript">
          $("#first_kind_id").change(function () {
            $("#secondKindId option:gt(0)").remove();
            $.ajax({
                type: "post",
                url: "/humanResources/secondKind/" + $(this).val(),
                success: function (data) {
                    var msg = eval(data);
                    for (var i = 0; i < msg.length; i++) {
                        $("#secondKindId").append("<option value='" + msg[i].second_kind_id + "'>" + msg[i].second_kind_name + "</option>");
                    }
                }
            })
        })
        $("#secondKindId").change(function () {
            $("#thirdKindId option:gt(0)").remove();
            $.ajax({
                type: "post",
                url: "/humanResources/thirdKind/" + $(this).val(),
                success: function (data) {
                    var msg = eval(data);
                    for (var i = 0; i < msg.length; i++) {
                        $("#thirdKindId").append("<option value='" + msg[i].third_kind_id + "'>" + msg[i].third_kind_name + "</option>");
                    }
                }
            })
        })
        $("#human_major_kind_id").change(function () {
            $("#majorId option:gt(0)").remove();
            $.ajax({
                type: "post",
                url: "/humanResources/major/" + $(this).val(),
                success: function (data) {
                    var msg = eval(data);
                    for (var i = 0; i < msg.length; i++) {
                        $("#majorId").append("<option value='" + msg[i].major_id + "'>" + msg[i].major_name + "</option>");
                    }
                }
            })
        })
    </script>
</body>
</html>
<script type="text/javascript">
        $(function () {
            $('select').attr({
                "size": "5",
                "class": "SELECT_STYLE2"
            });
            var fk;
            var sk;
            var tk;
            var zhiweiid;//职位分类
            var zhiweiid2;//职位名称

            var starttime;//起始时间
            var endtime;//结束时间
            $("#form1").submit(function () {
                fk = $("#first_kind_id").val();
                console.info(fk);
                sk = $("#secondKindId").val();
                console.info(sk);
                tk = $("#thirdKindId").val();
                console.info(tk);
                zhiweiid2 = $("#majorId").val();
                console.info(zhiweiid2);
                zhiweiid = $("#human_major_kind_id").val();
                console.info(zhiweiid);
                starttime = $("#date_start").val();
                console.info(starttime);
                endtime = $("#date_end").val();
                console.info(endtime);
                if (fk == 0 && sk == 0 && tk == 0 && zhiweiid == 0 && zhiweiid2 == 0 ) {
                  
                    if (confirm("是否查询所有档案？")) {
                        location.href = 'delete_list';
                        return false;
                    }
                } else if (fk!=null&&sk!=null&&tk!=null&&zhiweiid != null && zhiweiid2 != null && starttime != "" && endtime != "") {
                    $.ajax({
                        type: "post",
                        url: "/humanResources/q_list",
                        data:"fk="+fk+"&sk="+sk+"&tk="+tk+"&mk="+zhiweiid+"&ma="+zhiweiid2+"&date_start="+starttime+"&date_end="+endtime+"&f_status=true&status=1",
                        success: function (msg) {
                            if(msg=="yes"){
                                location.href = '/humanResources/delete_list';
                            } else {
                                alert("错误");
                            }
                        }
                    })
                    return false;
                } else {
                    alert('请补全信息');
                    return false;
                }
                }
            )
        })

</script>
